h1 {
    font-family: "kon-tiki-aloha-jf",sans-serif;
    font-size: 60px;
    padding: 20px;
    color: #444;
}

h4 {
    font-family: "kon-tiki-aloha-jf",sans-serif;
    font-size: 24px;
    color: #444;
}

p {
    font-family: "mrs-eaves-roman-all-petite-c",sans-serif;
    font-size: 24px;
    color: #444;
}

body {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    margin-bottom: 60px;
}

img {
    width: 100%;
}

#userScore {
    padding: 5px;
}

#magicScore {
    padding: 5px;
}

#youWin {
    background-color: green;
    color: white;
    font-family: "kon-tiki-aloha-jf",sans-serif;
    font-size: 24px;
}

#youLose {
    background-color: red;
    color: white;
    font-family: "kon-tiki-aloha-jf",sans-serif;
    font-size: 24px;
}
